- if activity.is_a?(Status) && activity.music.is_a?(Track)
  = opengraph 'twitter:card', 'player'
  = opengraph 'twitter:title', activity.music.display_title
  = opengraph 'twitter:description', truncate(activity.music.text, length: 200)
  = opengraph 'twitter:player', embed_short_account_status_url(activity.account, activity)
  = opengraph 'twitter:player:width', 480
  = opengraph 'twitter:player:height', 480
  = opengraph 'twitter:image', full_asset_url(activity.music.video_image.url(:small))
- else
  = opengraph 'twitter:card', 'summary_large_image'
